doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    title Untitled
    |     
    link(rel='stylesheet', type='text/css', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
    |     
    link(rel='stylesheet', type='text/css', href='main2.css')
  |   
body
    br
    |   
    center
      img(src='/img/game1.png', width='540px', height='auto')
      |   
      img(src='/img/game2.png', width='540px', height='auto')
      |   
      hr
      .descrip
        span
          | ontrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of &quot;de Finibus Bonorum et Malorum&quot; (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, &quot;Lorem ipsum dolor sit amet..&quot;, comes from a line in section 1.10.32.
          | Click 
          a(href='http://ideasocialnetwork.herokuapp.com') here
          |  to head to website
    |   
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.js')
    |   
    script(src='main.js')