<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hruska Works</title>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div class="container">

    <br>
    <br>
    <br>

    <!-- <a href="http://ideasocialnetwork.herokuapp.com/"> -->

    <a href="ideadex.html">
  <section id="box1" class="cube-wrap">
    <div class="cube" data-x="-40" data-y="0">
      <div class="side front">IdeaDex</div>
      <div class="side back">IdeaDex</div>
      <div class="side right"></div>
      <div class="side left"></div>
      <div class="side top"></div>
      <div class="side bottom"></div>
    </div>
    </section>
    </a>

  <section id="box2" class="cube-wrap">
    <div class="cube" data-x="0" data-y="0">
      <div class="side front">Basic Galaga</div>
      <div class="side back">Basic Galaga</div>
      <div class="side right"></div>
      <div class="side left"></div>
      <div class="side top"></div>
      <div class="side bottom"></div>
    </div>
  </section>

  <section class="cube-wrap">
    <div class="cube" data-x="40" data-y="0">
      <div class="side front">Coming Soon..</div>
      <div class="side back">Coming Soon..</div>
      <div class="side right"></div>
      <div class="side left"></div>
      <div class="side top"></div>
      <div class="side bottom"></div>
    </div>
  </section>

  <section class="cube-wrap">
    <div class="cube" data-x="-40" data-y="70">
      <div class="side front">Coming Soon..</div>
      <div class="side back">Coming Soon..</div>
      <div class="side right"></div>
      <div class="side left"></div>
      <div class="side top"></div>
      <div class="side bottom"></div>
    </div>
  </section>

  <section class="cube-wrap">
    <div class="cube" data-x="0" data-y="70">
      <div class="side front"></div>
      <div class="side back"></div>
      <div class="side right"></div>
      <div class="side left"></div>
      <div class="side top"></div>
      <div class="side bottom"></div>
    </div>
  </section>

  <a href="contactus.html">
  <section id="box6" class="cube-wrap">
    <div class="cube" data-x="40" data-y="70">
      <div class="side front">Contact Me</div>
      <div class="side back">Contact Me</div>
      <div class="side right"></div>
      <div class="side left"></div>
      <div class="side top"></div>
      <div class="side bottom"></div>
    </div>
  </section>
  </a>


</div>
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="main.js"></script>

  </body>
</html>
