doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    title Hruska Works
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel='stylesheet', type='text/css', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')  
    link(rel='stylesheet', type='text/css', href='main.css')
  |   
body
    .container
      br
      |     
      br
      |     
      br
      // <a href="http://ideasocialnetwork.herokuapp.com/">
      a(href='/ideadex')
        section#box1.cube-wrap
          .cube(data-x='-40', data-y='0')
            .side.front IdeaDex
            |       
            .side.back IdeaDex
            |       
            .side.right
            |       
            .side.left
            |       
            .side.top
            |       
            .side.bottom
      | 
      a(href='/galaga')
        section#box2.cube-wrap
          .cube(data-x='0', data-y='0')
            .side.front Basic Galaga
            |       
            .side.back Basic Galaga
            |       
            .side.right
            |       
            .side.left
            |       
            .side.top
            |       
            .side.bottom
      |   
      section.cube-wrap
        .cube(data-x='40', data-y='0')
          .side.front Coming Soon..
          |       
          .side.back Coming Soon..
          |       
          .side.right
          |       
          .side.left
          |       
          .side.top
          |       
          .side.bottom
      |   
      section.cube-wrap
        .cube(data-x='-40', data-y='70')
          .side.front Coming Soon..
          |       
          .side.back Coming Soon..
          |       
          .side.right
          |       
          .side.left
          |       
          .side.top
          |       
          .side.bottom
      |   
      section.cube-wrap
        .cube(data-x='0', data-y='70')
          .side.front
          |       
          .side.back
          |       
          .side.right
          |       
          .side.left
          |       
          .side.top
          |       
          .side.bottom
      |   
      a(href='/contactme')
        section#box6.cube-wrap
          .cube(data-x='40', data-y='70')
            .side.front Contact Me
            |       
            .side.back Contact Me
            |       
            .side.right
            |       
            .side.left
            |       
            .side.top
            |       
            .side.bottom
    |     
    |     
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    |     
    script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js')
    |     
    script(src='main.js')
