@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
.stage {
  position: relative;
  margin-top: 90px;
  /*top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);*/
}

label, [type="text"],
[type="email"],
textarea, [type="submit"] {
  border-radius: 5px;
}

hr{
  background-color: black;
  height:3px;
  width:80%;
  opacity: 0.2;
}

form {
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #18222d, #1a2530);
  background: linear-gradient(left, #18222d, #1a2530);
  box-shadow: inset 3px 3px 15px -5px rgba(0, 0, 0, 0.1);
  padding: 2em;
  display: block;
}

[type="submit"] {
  height:0px;
  overflow:hidden;
  visibility: hidden;
}

label, input,
textarea {
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
label:hover, input:hover,
textarea:hover {
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
}

* {
  position: relative;
  box-sizing: border-box;
}
/*html.body{
  margin: 0;
  padding:0;
}*/
/*html{
  margin: 0;
  padding: 0;
}*/
*,
body {
  font-family: "Inconsolata", sans-serif;
  font-weight: 400;
}

body {
  font-size: 19px;
  line-height: 1.3em;
  background: #e0e0e0;
 /* background: -webkit-linear-gradient(right, #1c2835, #1e2b38);
  background: linear-gradient(right, #1c2835, #1e2b38);*/
  color: #94bfdc;
}

legend {
  font-size: 1.5em;
  margin-left: 
  margin-bottom: 1em;
  color: #2980b9;
  /*comment vv out if want border under header*/
  border-bottom:0;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-20%) translateY(50%);
      -ms-transform: translateX(-20%) translateY(50%);
          transform: translateX(-20%) translateY(50%);
  background: rgba(26, 37, 48, 0.5);
  border: 1px solid rgba(41, 128, 185, 0.5);
  padding: 0 1em 0.2em;
  display: block;
  cursor: pointer;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
      transform-origin: 0 0;
}

input,
textarea {
  font-size: 100%;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #2980b9;
  background: #1a2530;
  box-shadow: inset 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
}
input:focus + label, input.active + label,
textarea:focus + label,
textarea.active + label {
  background: #2980b9;
  -webkit-transform: translateX(-20%) translateY(-50%);
      -ms-transform: translateX(-20%) translateY(-50%);
          transform: translateX(-20%) translateY(-50%);
}

::-webkit-input-placeholder {
  color: rgba(41, 128, 185, 0.3);
}

[type="text"],
[type="email"],
textarea {
  border: none;
  background: inherit;
  color: #94bfdc;
  border: 1px solid rgba(41, 128, 185, 0.3);
  padding: 1em 0.5em 0.5em;
  width: 100%;
  -webkit-filter: blur(5px);
}
[type="text"]:focus, [type="text"].active,
[type="email"]:focus,
[type="email"].active,
textarea:focus,
textarea.active {
  -webkit-filter: blur(0px);
}

.control {
  margin-bottom: 1.3em;
}

.stage {
  width: 455px;
  /*width: 80%;*/
}


#toast{
  height:0px;
  overflow:hidden;
  visibility: hidden;
}
#btnblock{
  position: relative;
  margin-left: -270px;
  margin-top: -79px;
  z-index: 1;
}
#submitbtn{
  background: #1a2530;
  /*display: inline-block;*/
  /*padding: 0.3em 1em 0.5em;*/
  cursor: pointer;
  /*background: -webkit-linear-gradient(left, #18222d, #1a2530);
  background: linear-gradient(left, #18222d, #1a2530);
  box-shadow: inset 3px 3px 15px -5px rgba(0, 0, 0, 0.1);*/
  text-transform: uppercase;
  color: #27ae60;
  border: 1px solid rgba(41, 128, 185, 0.3);
  font-size: 90%;
  /*position:absolute;
  margin-top: 465px;
  margin-left: 508px;*/
  height:35px;
  width:87px;
  border-radius: 5px;
  z-index: 1;
}
#submitbtn:focus {
  background: #1a2530;
  color: #27ae60;
  outline: 0;
}
#submitbtn:hover {
  background: #27ae60;
  color: white;
  outline: 0;
}
#submitbtn:active {
  background: #1a2530;
  color: white;
  outline: 0;
}
#toast3{
  position:fixed;
  /*top:690px;*/
  top:90.55%;
}
.descrip{
  width:70%;
  color:black;
  font-size: 14px;
}
@media(max-height: 588px){
  #btnblock{
    top:100%;
  }
}
@media(max-height: 714px){
  #btnblock{
    top:72%;
  }
}

.text-button {
  font-size: 20px;
  color: grey;
  cursor: pointer;
  text-transform: uppercase;
}

a:hover.text-button, a:focus.text-button {
  color: #B88F51;
  text-decoration: none;
}

.text-button > i {
  margin-right: 10px;
}

.text-button::before,
.text-button::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.text-button::before {
  margin-right: 5px;
  content: '[';
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  transform: translateX(10px);
}

.text-button::after {
  margin-left: 5px;
  content: ']';
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  transform: translateX(-10px);
}

.text-button:hover::before,
.text-button:hover::after,
.text-button:focus::before,
.text-button:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}










 
